*.gem
*.rbc
.bundle
.config
coverage
coverage.data

# rdoc generated
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# yard generated
doc
.yardoc

# bundler
.bundle

# Generated gemfile
*.gem

# For MacOS:
.DS_Store
